include ../../_db/_products.pug

section.ProductSection
	mixin product-card(p)
		article.ProductItem(itemscope itemtype="http://schema.org/CreativeWork" data-aos="slide-right" data-aos-offset="400")
			img(src="assets/images/" + p.image_url)
			main.ProductDetail
				h3.productTitle= p.title
				button.btn.snipcart-add-item(data-item-id=p.data_item_id data-item-name=p.data_item_name data-item-price=p.data_item_price data-item-weight=p.data_item_weight data-item-url=p.data_item_url data-item-description=p.data_item_description)
					| Add to cart

	for p in products
		+product-card(p)
